body{
    color:rgb(168, 127, 245);
    background-color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.heading{
    width: 80%;
    font-size: 25px;
}
#camera{
    border: 3px dashed;
    width: 300px;
    height: 300px;
}
#ron, #roa{
    color: rgb(138, 102, 238);
}